body{
    background: #2B2A2A;
    margin: 0;
    font-family: Roboto;
    color: white;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Bold.ttf)
}

.container{
    background: rgba(0, 0, 0, 0.29);
    width: 400px;
    height: 350px;
    margin: 100px auto; 
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 50px 40px;
    text-align: center;
}

input{
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: 0;
}

.popup{
    position: fixed;
    top: 0; bottom: 0; 
    left: 0; right:0;
    margin: 214px auto;
    width: 400px;
    height: 350px;
    border: 0;
    background: #222;
    display: none;
    font-size: 1.8em;
}
.popup p{
    padding-top: 40px;
}

.popup button{
    color: white;
    width: 270px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0px;
    font-family: Roboto;
    font-size: 25px;
    background: rgba(233, 29, 29);
}
.btnEnviarEmail{
    color: white;
    width: 270px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0px;
    font-family: Roboto;
    font-size: 25px;
    background: rgba(233, 29, 29);
}

.btnEnviarEmail:hover{
    background: rgba(233, 29, 29, 0.80);
}

.rodape{
    width: 100%;
    height: 140px;
    background: rgba(0, 0, 0, 0.29);
    position:absolute;
    bottom:0;
}

.rodape-text{
    margin-left: 30px;
    font-size: 18px;
    padding-top: 40px;
}

.rodape-text span{
    color: white;
}
.rodape img{
    padding-left: 120px;
    padding-top: 10px;
}

a{
    text-decoration: none; 
    color: white;
}

a:hover{
    text-decoration: underline;
}